body {
	background-color: white;
	padding: 10px;}
h1 {
	color: #008000;
	text-align: center}
img {
	width: 200px;}
.content {
	color: #2196f3;}
#quote {
	font-style: italic;
	color: #ee82ee;}
#author {
	color: #ee82ee;
	text-indent: 50px}